:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  .heeight,
  .image {
    min-height: 100vh;
  }
  
  .bg-image {
    background-color:rgb(227, 250, 230);
    background-size: cover;
    background-position: center;
  }

  img{
    margin-left: 20%;
    margin-top: 40%;
  }
  
  .bg-img2{
    background-color: 	#e6aed0;
  }

  .bgcanv{

    background-color: #e4e7f5;
    width: 430px;
    height:260px;
    margin-left: 15%;
    border-radius: 2%;

  }

  
