:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.heeight,
.image {
  min-height: 90vh;
}

.bg-image {
  background-color: #1a2d41;
  background-size: cover;
  background-position: center;
}

img {
  margin-left: 20%;
  margin-top: 40%;
}

.bg-img2 {
  background-color: #d2d2d2;
}

.bgcanv {
  background-color: #ffff;
  width: 480px;
  height: 270px;
  margin-left: 15%;
  border-radius: 1%;
}

h4 {
  text-align: center;
  margin-bottom: 50px;
  color: #7f94a3;
  font-weight: bold;
  margin-top: 23%;
}

#movingcanvas{
  position: absolute;
}

#myCanvas {
  padding-top: 20px;
}

/*Moving the canvases on top of eachother*/
canvas {
  padding-left: 18px;
  margin-bottom: 20px;
}
