:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  .heeight,
  .image {
    min-height: 77vh;
  }
  
  .bg-image {
    background-color:rgb(227, 250, 230);
    background-size: cover;
    background-position: center;
  }

  img{
    margin-left: 20%;
    margin-top: 40%;
  }
  
  .bg-img2{
    background-color:#e6aed0;

  }

  .bgcanv{

    background-color: #e4e7f5;
    width: 480px;
    height:270px;
    margin-left: 15%;
    border-radius: 1%;
  }

  h4{
    text-align: center;
    margin-bottom: 50px;
    color: #e3fae6;
    font-weight: bold;
    margin-top: 10%;
  }

  #myCanvas{
   padding-top: 20px;
  }

  /* Navigation bar*/

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #e3fae6;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

/*line under on hover*/
.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #4159a1;
}

/*moves line under*/
.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

/*line appears*/
.nav-link-ltr:hover::before {
  width: 100%; /*goes from 0-100% size*/
}



  
